@page "/rent-management/edit/{Id}"

<div>
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger w-25 mx-auto mt-3 text-center" role="alert">
            @ErrorMessage
        </div>
    }

    <h2 class="text-center mt-5">Motorcycle rent edit</h2>

    <hr class="w-75" />

    <div class="container w-25 text-center">
        <EditForm Model="@RentModel" OnValidSubmit="@HandleEditMotorcycleRent">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="dateRented">Date rented:</label>
                <InputDate class="form-control" id="dateRented" @bind-Value="RentModel.DateRented" />
                <ValidationMessage For="@(() => RentModel.DateRented)" />
            </div>

            <div class="form-group">
                <label for="rentedUntil">Rented until:</label>
                <InputDate class="form-control" id="rentedUntil" @bind-Value="RentModel.RentedUntil" />
                <ValidationMessage For="@(() => RentModel.RentedUntil)" />
            </div>

            <div class="form-group">
                <label for="price">Price:</label>
                <InputNumber class="form-control" id="price" @bind-Value="RentModel.Price" />
                <ValidationMessage For="@(() => RentModel.Price)" />
            </div>

            <div class="form-group">
                <label for="isCompleted">Completed:</label>
                <InputCheckbox class="form-control" id="isCompleted" @bind-Value="RentModel.Completed" />
                <ValidationMessage For="@(() => RentModel.Completed)" />
            </div>

            <div class="form-group">
                <label for="motorcycle">Motorcycle:</label>
                <InputSelect class="form-control" id="motorcycle" @bind-Value="@_motorcycleId">
                    <option value="0" selected disabled>Select a motorcycle</option>
                    @foreach (Motorcycle motorcycle in MotorcyclesModel)
                    {
                        <option value="@motorcycle.Id">@motorcycle.Make @motorcycle.Model</option>
                    }
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="customer">Customer:</label>
                <InputSelect class="form-control" id="customer" @bind-Value="@_customerId">
                    <option value="0" selected disabled>Select a customer</option>
                    @foreach (Customer customer in CustomersModel)
                    {
                        <option value="@customer.Id">@customer.FirstName @customer.LastName</option>
                    }
                </InputSelect>
                <a class="btn btn-outline-primary w-50 mt-3" href="/customer-management/create" role="button">Create customer</a>
            </div>

            <button class="btn btn-outline-success w-100 mt-3" type="submit">Edit</button>
            <a class="btn btn-outline-danger w-100 mt-3" href="/rent-management" role="button">Cancel</a>
        </EditForm>
    </div>

    <hr class="w-75" />

    <div class="w-75 mx-auto mb-5">
        <a class="btn btn-outline-danger" href="/rent-management" role="button">Back to motorcycle rents</a>
    </div>
</div>

